.about {
  position: relative;
  padding: 120px 0;
  z-index: 1;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: attr(data-content);
    display: inline-block;
    font-size: 620px;
    font-family: $fontTwoBold;
    line-height: .668;
    color: inherit;
    opacity: .03;
    pointer-events: none;
    z-index: 2;
  }
  &__heading {
    font-family: $fontTwoBold;
    font-size: 6.2rem;
    color: $color-heading;
    position: relative;
    display: inline-block;
    z-index: 1;
    &:before {
      top: 0;
      width: 70px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: $color-primary;
      border-radius: 10px;
      z-index: -1;
    }
    &:after {
      bottom: -5px;
      width: 70px;
      left: 0;
      height: 20px;
      content: '';
      position: absolute;
      background-color: $color-secondary;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(-5deg);
    }
  }
  &__do {
    margin-top: 28px;
  }
  &__do-description {
    text-align: center;
    color: $color-heading;

  }
  &__icon {
    text-align: center;
    width: 131px;
    height: 131px;
    border: 2px solid rgba($color-heading, .85);
    border-radius: 50%;
    margin: 0 auto 20px auto;
    line-height: 131px;
    transition: .28s ease-out;
    &:hover {
      border: 2px solid rgba($color-heading, .99);
      transform: translateY(-3px);
      filter: drop-shadow(-8px 8px 2px rgba(0, 0, 0, 0.2));
    }
    & span {
      font-size: 32px;
      margin: 0 15px;
      color: $color-secondary;
    }
  }
}