html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: $fontTwoBook;
  font-size: $default-font-size;
  color: $color-dark;
  background-color: $color-bg;
}

ul {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  &:active,
  &:focus {
    outline: none;
  }
}

* + p {
  margin-top: 28px;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh !important;
}
.link-logo {
  color: $color-dark;
  &:hover {
    color: $color-dark;
  }
}
.link-ps {
  font-size: 1.9rem;
  color: $color-gray;
  transition: all .2s;
  &:hover {
    color: $color-dark;
  }
}

@media only screen and (max-width : 768px) {
  .hidden-phone {
    display: none;
  }
}

.bg-overlay-dark {
  position: relative;
}

.bg-overlay-dark:before{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-overlay-dark:before {
  background-color: rgba(0, 0, 0, 0.3);
}