html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: $fontTwoBook;
  font-size: $default-font-size;
  color: $color-dark;
  background-color: $color-bg;
}

ul {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  &:active,
  &:focus {
    outline: none;
  }
}

@media only screen and (max-width : 768px) {
  .hidden-phone {
    display: none;
  }
}