.bg-gradient {
  &__one {
    background-image: linear-gradient(90deg, #9795f0 0%, #fbc8d4 100%);
  }
  &__two {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  }
  &__three {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  }
  &__four {
    background-image: linear-gradient(90deg, #50cc7f 0%, #f5d100 100%);
  }
  &__five {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  }
  &__six {
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
  }
}
