.content {
  position: relative;
  padding: 60px 0 120px 0;
  background-color: $color-white;
  z-index: 1;
  /*& .container {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -15px;
      left: 15px;
      width: 100px;
      height: 5px;
      background-color: $color-secondary;
    }
  }*/
  &__svg {
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    transform: rotateZ(180deg);
    & svg {
      width: 100%;
      display: block;
      fill: $color-bg;
    }
  }
}