#cookie_div {
  font-family: $fontTwoMedium;
  background: $color-secondary;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 50%;
  max-width: 1170px;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 8px 30px;
  display: none;
  z-index: 999;
  border-radius: 60px;
  font-size: 1.9rem;
  @media only screen and (max-width : 480px) {
    font-size: 1.5rem;
  }
  & a {
    color: $color-white;
  }
}
#cookie_div .button {
  font-family: $fontTwoMedium;
  background: $color-primary;
  border-radius: 60px;
  padding: 5px 20px;
  font-size: 1.2rem;
  &:hover {
    color: $color-white;
  }
  }
.cookie {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}