.footer {
  position: relative;
  padding: 120px 0;
  //background-color: $color-white;
  background: url(../images/4.png) bottom center no-repeat $color-white;
  background-size: 100%;
  /*&:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 390px;
    background: url(../images/4.png) no-repeat;
  }*/
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:hover .footer__item-icon span:after {
      transform: translateX(0);
    }
  }
  &__item-icon {
    position: relative;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background-color: rgba($color-primary, 1);
    color: rgba($color-white, .77);
    text-align: center;
    border-radius: 50%;
    margin-right: 14px;
    flex: 0 0 auto;
    z-index: 1;
    overflow: hidden;
    & span:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      transition: .3s;
      z-index: -1;
      transform: translateX(-100%);
      border-radius: 50%;
      background: $color-secondary;
    }
  }
  &__top {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba($color-gray, .33);
    margin-bottom: 60px;
  }
  &__item-heading {
    color: $color-heading;
    font-size: 2.4rem;
  }
  &__item-desc {
    & a {
      color: $color-dark;
      font-size: 2.2rem;
      transition: all .2s;
      &:hover {
        color: $color-gray;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    transition: all .2s;
    &:hover {
      filter: drop-shadow(-8px 8px 2px rgba(0, 0, 0, 0.2));
    }
  }
  &__logo-img {
    width: 43px;
    flex: 0 0 auto;
  }
  &__logo-text {
    font-family: $fontTwoBold;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 15px 0;
    &:before {
      top: 0;
      right: 0;
      width: 70px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: $color-primary;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(5deg);
    }
    &:after {
      bottom: -5px;
      width: 70px;
      right: 0;
      height: 20px;
      content: '';
      position: absolute;
      background-color: $color-secondary;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(-5deg);
    }
  }
  &__copy {
    margin-top: 30px;
    color: $color-heading;
    font-size: 2.2rem;
  }
  &__link li a {
    color: $color-gray;
    transition: all .2s;
    &:hover {
      color: $color-heading;
    }
  }
}

.features-box-icon {
  align-items: center;
  animation: 5s ease 0s normal none infinite running border_animate;
  background: #d1fff6 none repeat scroll 0 0;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  display: flex;
  height: 120px;
  margin: 0 auto 20px;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  width: 120px;
}
.flaticon-promotion {
  background: $color-primary-2 none repeat scroll 0 0;
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 25px;
  text-align: center;
  transition: all 0.35s ease-in-out;
  width: 100px;
}

@keyframes border_animate {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}