.form {
  font-family: $fontTwoBook;
  &__heading {
    font-family: $fontTwoMedium;
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: $color-heading;
  }
  &__group {
    margin-bottom: 30px;
    position: relative;
    /*&--icon {
      position: relative;
      &:before {
        position: absolute;
        top: 24.5px;
        left: 22px;
        transform: translateY(-61%);
        margin-right: 7px;
        font-size: 24px;
        line-height: 24px;
        color: #c7c7c7;
      }
    }*/
  }

  &__input {
    font-family: inherit;
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: 2rem;
    padding: 5px 18px;
    color: $color-white;
    background: none;
    border: 2px solid $color-white;
    border-radius: 35px;
    height: 50px;
    transition: .3s all ease;

    &:focus {
      outline: none;
      border: 2px solid $color-white;
      background: rgba($color-white, .2);
      box-shadow: 8px 10px 20px rgba($color-white,.1);
    }
    &::-webkit-input-placeholder {
      color: $color-white;
    }
    &::-moz-placeholder {
      color: $color-white;
    }
    &:-ms-input-placeholder {
      color: $color-white;
    }
    &:placeholder-shown {
      color: $color-white;
    }
    &.error {
      //border-bottom: 2px solid #a94442;
      &:focus {
        //border-bottom: 2px solid #a94442;
        //box-shadow: inset 0 0 5px rgba(#a94442, .8);
      }
    }

    &--nav {
      border: 2px solid $color-gray-primary;
      /*border-top-color: $color-secondary;
      border-right-color: $color-primary;
      border-bottom-color: $color-tertiary;
      border-left-color: $color-purple;*/
      background: $color-gray-primary;
      box-shadow: 8px 10px 20px rgba(0,0,0,.1);
      color: $color-heading;
      &:focus {
        outline: none;
        border: 2px solid $color-gray-primary;
        background: $color-white;
        box-shadow: 8px 10px 20px rgba(0,0,0,.1);
      }
      &::-webkit-input-placeholder {
        color: $color-gray;
      }
      &::-moz-placeholder {
        color: $color-gray;
      }
      &:-ms-input-placeholder {
        color: $color-gray;
      }
      &:placeholder-shown {
        color: $color-gray;
      }
      &.error {
        //border-bottom: 2px solid #a94442;
        &:focus {
          //border-bottom: 2px solid #a94442;
          //box-shadow: inset 0 0 5px rgba(#a94442, .8);
        }
      }
    }
  }


  &__checkbox + label {
    position: relative;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    cursor: pointer;
    color: #adadad;
    padding-left: 45px;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 2px solid #adadad;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      transition: all ease-out 200ms;
      left: 15px;
      top: 50%;
      //transform: translateY(-50%);
      color: #adadad;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 13px;
      border-bottom: 2px solid $color-white;
      border-left: 2px solid $color-white;
      left: 15px;
      top: 50%;
      margin-top: -7px;
      transform-origin: bottom left;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all ease-out 200ms;
    }
    & a {
      color: $color-secondary;
      transition: all .2s;
      &:hover {
        color: $color-white;
      }
    }
  }
  &__checkbox:checked + label{
    color: $color-white;

    &:before {
      border: 2px solid $color-white;
      color: $color-white;
    }
    &:after {
      opacity: 1;
      width: 36px;
    }
  }

  &__checkbox--nav + label {
    position: relative;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    cursor: pointer;
    color: #adadad;
    padding-left: 45px;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 2px solid #adadad;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      transition: all ease-out 200ms;
      left: 15px;
      top: 50%;
      //transform: translateY(-50%);
      color: #adadad;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 13px;
      border-bottom: 2px solid $color-heading;
      border-left: 2px solid $color-heading;
      left: 15px;
      top: 50%;
      margin-top: -7px;
      transform-origin: bottom left;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all ease-out 200ms;
    }
    & a {
      color: $color-secondary;
      transition: all .2s;
      &:hover {
        color: $color-heading;
      }
    }
  }
  &__checkbox--nav:checked + label{
    color: $color-heading;

    &:before {
      border: 2px solid $color-heading;
      color: $color-heading;
    }
    &:after {
      opacity: 1;
      width: 36px;
    }
  }

}
#checkbox-development {
  display: none;
}
#checkbox-promotion {
  display: none;
}
#checkbox-reputation {
  display: none;
}
#checkbox-form-nav {
  display: none;
}