.form {
  font-family: $fontTwoBook;
  &__heading {
    font-family: $fontTwoMedium;
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: $color-heading;
  }
  &--subscribe {
    //display: flex;
    //flex-flow: row wrap;
    //align-items: center;
    margin-top: 30px;
  }
  &__placeholder {
    transition: 0.3s all ease;
    font: inherit;
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 20px;
    line-height: 26px;
    color: red;
    opacity: 1;
    font-size: 2rem;
  }
  &__group {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    cursor: text;
    /*&--icon {
      position: relative;
      &:before {
        position: absolute;
        top: 24.5px;
        left: 22px;
        transform: translateY(-61%);
        margin-right: 7px;
        font-size: 24px;
        line-height: 24px;
        color: #c7c7c7;
      }
    }*/
    &--subscribe {
      //display: flex;
      //flex: 0 0 auto;
      //flex-flow: row wrap;
      //align-items: center;
      & label.error {
        position: absolute;
        left: 21px;
        top: 3px;
        font-size: 11px;
        color: #dc0000;
        transition: all 1s;
      }
    }
    & .form__placeholder-modern {
      position: absolute;
      z-index: 3;
      left: 16px;
      top: 50%;
      padding: 0 5px;
      background: $color-bg;
      font-size: 2rem;
      color: $color-gray;
      transform: translateY(-50%);
      transition: all .3s
    }
  }
  &__group-text-area {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    cursor: text;
    & .form__placeholder-modern {
      position: absolute;
      z-index: 3;
      left: 16px;
      top: 15px;
      padding: 0 5px;
      background: $color-bg;
      font-size: 2rem;
      color: $color-gray;
      transition: all .3s
    }
  }

  &__input {
    //position: relative;
    font-family: inherit;
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: 2rem;
    padding: 5px 18px;
    color: $color-white;
    background: none;
    border: 2px solid $color-white;
    border-radius: 35px;
    height: 50px;
    box-shadow: 8px 10px 20px rgba(0,0,0,.1);
    z-index: 2;
    transition: .3s all ease;

    &.val-true + .form__placeholder-modern {
      background-color: $color-white;
      top: 0;
      font-size: 1.5rem;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-white;
      background: rgba($color-white, .2);
      box-shadow: 8px 10px 20px rgba($color-white,.1);
    }
    &::-webkit-input-placeholder {
      color: $color-white;
    }
    &::-moz-placeholder {
      color: $color-white;
    }
    &:-ms-input-placeholder {
      color: $color-white;
    }
    &:placeholder-shown {
      color: $color-white;
    }
    &.error {
      //border-bottom: 2px solid #a94442;
      &:focus {
        //border-bottom: 2px solid #a94442;
        //box-shadow: inset 0 0 5px rgba(#a94442, .8);
      }
    }

    &--nav {
      border: 2px solid $color-gray-primary;
      /*border-top-color: $color-secondary;
      border-right-color: $color-primary;
      border-bottom-color: $color-tertiary;
      border-left-color: $color-purple;*/
      background: $color-gray-primary;
      box-shadow: 8px 10px 20px rgba(0,0,0,.1);
      color: $color-heading;
      &:focus {
        outline: none;
        border: 2px solid $color-gray-primary;
        background: $color-white;
        box-shadow: 8px 10px 20px rgba(0,0,0,.1);
        & + .form__placeholder-modern {
          top: 0;
          background: $color-white;
          font-size: 1.5rem;

        }
      }
      &::-webkit-input-placeholder {
        color: $color-gray;
      }
      &::-moz-placeholder {
        color: $color-gray;
      }
      &:-ms-input-placeholder {
        color: $color-gray;
      }
      &:placeholder-shown {
        color: $color-gray;
      }
      &.error {
        //border-bottom: 2px solid #a94442;
        &:focus {
          //border-bottom: 2px solid #a94442;
          //box-shadow: inset 0 0 5px rgba(#a94442, .8);
        }
      }
    }

    /*&--modern {
      &::-webkit-input-placeholder {
        opacity: 0;
      }
      &::-moz-placeholder {
        opacity: 0;
      }
      &:-ms-input-placeholder {
        opacity: 0;
      }
      &:focus::-webkit-input-placeholder {
        opacity: 1;
      }
    }*/
  }

  &__textarea {
    //position: relative;
    font-family: inherit;
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: 2rem;
    padding: 5px 18px;
    color: $color-white;
    background: none;
    border: 2px solid $color-white;
    border-radius: 35px;
    height: 150px;
    box-shadow: 8px 10px 20px rgba(0,0,0,.1);
    resize: none;
    transition: .3s all ease;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: $color-bg;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 10px;
      height: 71px;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-white;
      background: rgba($color-white, .2);
      box-shadow: 8px 10px 20px rgba($color-white,.1);
      & + .form__placeholder-modern {
        top: 0;
        font-size: 1.5rem;
        transform: translateY(-50%);
        background: $color-white;
      }
    }
    &.val-true + .form__placeholder-modern {
      background: $color-white;
      top: 0;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
    &::-webkit-input-placeholder {
      color: $color-white;
    }
    &::-moz-placeholder {
      color: $color-white;
    }
    &:-ms-input-placeholder {
      color: $color-white;
    }
    &:placeholder-shown {
      color: $color-white;
    }
    &.error {
      //border-bottom: 2px solid #a94442;
      &:focus {
        //border-bottom: 2px solid #a94442;
        //box-shadow: inset 0 0 5px rgba(#a94442, .8);
      }
    }
    &--nav {
      border: 2px solid $color-gray-primary;
      /*border-top-color: $color-secondary;
      border-right-color: $color-primary;
      border-bottom-color: $color-tertiary;
      border-left-color: $color-purple;*/
      background: $color-gray-primary;
      box-shadow: 8px 10px 20px rgba(0,0,0,.1);
      color: $color-heading;
      &:focus {
        outline: none;
        border: 2px solid $color-gray-primary;
        background: $color-white;
        box-shadow: 8px 10px 20px rgba(0,0,0,.1);
      }
      &::-webkit-input-placeholder {
        color: $color-gray;
      }
      &::-moz-placeholder {
        color: $color-gray;
      }
      &:-ms-input-placeholder {
        color: $color-gray;
      }
      &:placeholder-shown {
        color: $color-gray;
      }
      &.error {
        //border-bottom: 2px solid #a94442;
        &:focus {
          //border-bottom: 2px solid #a94442;
          //box-shadow: inset 0 0 5px rgba(#a94442, .8);
        }
      }
    }
  }

  & label.error {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 11px;
    color: #dc0000;
    transition: all 1s;

  }

  & label.error + .form__placeholder-modern {
    background-color: $color-white;
    top: 0;
    font-size: 1.5rem;
  }




  &__checkbox + label {
    position: relative;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    cursor: pointer;
    color: #adadad;
    padding-left: 45px;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 2px solid #adadad;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      transition: all ease-out 200ms;
      left: 15px;
      top: 50%;
      //transform: translateY(-50%);
      color: #adadad;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 13px;
      border-bottom: 2px solid $color-white;
      border-left: 2px solid $color-white;
      left: 15px;
      top: 50%;
      margin-top: -7px;
      transform-origin: bottom left;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all ease-out 200ms;
    }
    & a {
      color: $color-secondary;
      transition: all .2s;
      outline: none;
      &:hover {
        color: $color-white;
      }
    }
  }
  &__checkbox:checked + label{
    color: $color-white;

    &:before {
      border: 2px solid $color-white;
      color: $color-white;
    }
    &:after {
      opacity: 1;
      width: 36px;
    }
  }

  &__checkbox--nav + label {
    position: relative;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    cursor: pointer;
    color: #adadad;
    padding-left: 45px;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 2px solid #adadad;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      transition: all ease-out 200ms;
      left: 15px;
      top: 50%;
      //transform: translateY(-50%);
      color: #adadad;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 13px;
      border-bottom: 2px solid $color-heading;
      border-left: 2px solid $color-heading;
      left: 15px;
      top: 50%;
      margin-top: -7px;
      transform-origin: bottom left;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all ease-out 200ms;
    }
    & a {
      color: $color-secondary;
      transition: all .2s;
      outline: none;
      &:hover {
        color: $color-heading;
      }
    }
  }
  &__checkbox--nav:checked + label{
    color: $color-heading;

    &:before {
      border: 2px solid $color-heading;
      color: $color-heading;
    }
    &:after {
      opacity: 1;
      width: 36px;
    }
  }
  &__phone {
    //transition: all 0s;

  }

}
.form-nav {
  &__wrapper {
    position: relative;
  }
  &__loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-primary;

    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $color-secondary;
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $color-tertiary;
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
  }
  &__loader-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-white, .99);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
  }
  &__loader-text {
    margin-top: 20px;
    text-align: center;
  }
}
#checkbox-development {
  display: none;
}
#checkbox-promotion {
  display: none;
}
#checkbox-reputation {
  display: none;
}
#checkbox-form-nav {
  display: none;
}
#checkbox-form-subscribe {
  display: none;
}
#checkbox-form-contact {
  display: none;
}

#checkbox-form-popup {
  display: none;
}

.inputfile {
  display: none;
}
.upload-file {
  font-family: inherit;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 5px 18px;
  color: $color-heading;
  background: $color-gray-primary;
  border: 2px solid $color-gray-primary;
  border-radius: 35px;
  box-shadow: 8px 10px 20px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  transition: .3s all ease;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    border: 2px solid $color-gray-primary;
    background: $color-white;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, .1);
  }
}
.upload-file-icon {
  font-size: 20px;
  color: $color-gray;
  margin-right: 10px;
}


