.header {
  /*position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;*/
  /*& .rd-navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }*/
  &__button-call-icon {
    display: none;
  }
  &__button-call {
    font-family: $fontTwoBold;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 5px;
    letter-spacing: 1px;
  }
  &__phone {
    font-family: $fontTwoBold;
    font-size: 20px;
    margin-left: 5px;
  }
  &__logo {
    font-family: $fontTwoBold;
    color: $color-white;
    &--phone {
      display: none;
      font-family: $fontTwoExtraBold;
      color: $color-white;
    }
  }
  &__logo-img {
    height: 43px;
    margin-right: .6rem;
    flex: 1 1 auto;
    //animation: logo 5s forwards;
  }
}

@keyframes logo {
  20% {
    transform: rotate(-35deg);
  }
  70% {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@media only screen and (max-width : 768px) {
  .header {
    &__logo {
      display: none;
      &--phone {
        display: inline-block;
      }
    }
  }
}

