.modal {
  & .modal-content {
    background-color: #fff;
    //border: 1px solid rgba(0,0,0,.2);
    border-radius: 25px;
    padding: 25px 0 15px 0;
  }
  & .modal-header {
    border-bottom: none;
    justify-content: center;
  }
  &__bg-close {
    position: absolute;
    top: -85px;
    right: -85px;
    width: 150px;
    height: 150px;
    background: $color-primary;
    z-index: 4;
    transform: rotate(45deg);
  }
  &__close {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-secondary!important;
    font-size: 2.4rem;
    display: block;
    z-index: 5;
    color: $color-white;
    opacity: 1;
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
      background: $color-primary!important;
      color: $color-white;
      opacity: 1;
    }
  }
  &__heading {
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
}