.reviews {
  position: relative;
  padding: 120px 0;
  background-color: $color-white;
  z-index: 1;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: attr(data-content);
    display: inline-block;
    font-size: 45rem;
    font-family: $fontTwoBold;
    line-height: .668;
    color: inherit;
    opacity: .03;
    pointer-events: none;
    z-index: 2;
    @media only screen and (max-width : 992px) {
      font-size: 24rem;
    }
    @media only screen and (max-width : 768px) {
      font-size: 19rem;
    }
    @media only screen and (max-width : 480px) {
      font-size: 9rem;
    }
  }
  &__button-all-review {
    margin-top: 30px;
  }
  &__item {
    padding: 0 55px;
  }
  &__item-img {
    align-items: center;
    animation: 5s ease 0s normal none infinite running border_animate;
    background: #d1fff6 none repeat scroll 0 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    display: flex;
    height: 140px;
    margin: 0 auto 20px;
    overflow: hidden;
    text-align: center;
    width: 140px;

    & img {
      transition: all .5s;
      &:hover {
        transform: scale(1.5);
        filter: blur(3px) brightness(90%);
      }
    }
  }
  &__item-description {
    //font-family: $fontTwoLight;
    //color: $color-white;
    //font-size: 16px;
    margin-bottom: 15px;
  }
  &__item-author {
    font-family: $fontTwoMedium;
    color: $color-heading;
  }
}
@media only screen and (max-width : 480px) {
  .reviews {
    &__item {
      padding: 0 15px;
    }
  }
}

.quote-light {
  text-align: center;
  font-family: $fontTwoLight;
}
.quote-light-cite {
  font-style: normal;
}
.quote-light-caption {
  margin-top: 10px;
  font-size: 1.8rem;
  color: $color-gray;
}
.quote-light-mark {
  margin: 20px 0;
  fill: #aeb1be;
}
.quote-light-text {

}
.quote-light-footer img{
  margin: 20px auto;
}