.services {
  position: relative;
  padding: 120px 0;
  background-color: $color-white;
  z-index: 1;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: attr(data-content);
    display: inline-block;
    font-size: 620px;
    font-family: $fontTwoBold;
    line-height: .668;
    color: inherit;
    opacity: .03;
    pointer-events: none;
    z-index: 2;
  }
  &__item-heading {
    position: relative;
    z-index: 1;
  }
  &__price {
    position: relative;
    z-index: 1;
    font-family: $fontTwoBold;
    margin-top: 15px;
    color: rgba(255,255,255,.7);
    font-size: 28px;
  }
  &__hit {
    font-family: $fontOneBold;
    //text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    //animation: 5s ease 0s normal none infinite running border_animate;
    background: $color-tertiary none repeat scroll 0 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    display: flex;
    height: 150px;
    width: 150px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    z-index: 0;
    opacity: .5;
    & span {
      display: inline-block;
      transform: rotate(35deg);
      font-size: 3rem;
      color: $color-secondary;
      animation: animateHitWord 3s forwards;
    }
  }
  &__heading {
    font-family: $fontTwoBold;
    font-size: 6.2rem;
    color: $color-heading;
    position: relative;
    display: inline-block;
    z-index: 1;
    &:before {
      top: 0;
      width: 70px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: $color-primary;
      border-radius: 10px;
      z-index: -1;
    }
    &:after {
      bottom: -5px;
      width: 70px;
      left: 0;
      height: 20px;
      content: '';
      position: absolute;
      background-color: $color-secondary;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(-5deg);
    }
  }
}

@media only screen and (max-width : 1400px) {
  .services {
    &:before {
      font-size: 405px;
    }
  }
}

@media only screen and (max-width : 992px) {
  .services {
    padding: 60px 0;
    &:before {
      font-size: 290px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .services {
    &:before {
      font-size: 211px;
    }
    &__hit {
      height: 100px;
      width: 100px;

      & span {
        font-size: 2rem;
      }
    }
  }
}
@media only screen and (max-width : 480px) {
  .services {
    &:before {
      font-size: 117px;
    }
    &__price {
      font-size: 2.4rem;
    }
  }
}

@keyframes animateHitWord{
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
