.service-development {
  background-color: $color-white;
  //min-height: 600px;
  padding: 200px 0;
  position: relative;
  z-index: 1;
  @media only screen and (max-width : 991px) {
    padding: 120px 0;
  }
  /*&:before {
    background: url(../images/bg-content-new-top.svg) no-repeat;
    position: absolute;
    content: "";
    height: 212px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1
  }*/
  &__bottom-svg {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    & svg {
      width: 100%;
      display: block;
      fill: $color-bg
    }
  }
  &__top-svg {
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    & svg {
      width: 100%;
      display: block;
      fill: $color-bg
    }
  }
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: attr(data-content);
    display: inline-block;
    font-size: 270px;
    font-family: $fontTwoBold;
    line-height: .668;
    color: inherit;
    opacity: .03;
    pointer-events: none;
    z-index: 2;
  }
  &__heading {
    font-family: $fontTwoBold;
    font-size: 6.2rem;
    color: $color-heading;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-bottom: 50px;
    &:before {
      top: 0;
      width: 70px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: $color-primary;
      border-radius: 10px;
      z-index: -1;
    }
    &:after {
      bottom: -5px;
      width: 70px;
      left: 0;
      height: 20px;
      content: '';
      position: absolute;
      background-color: $color-secondary;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(-5deg);
    }
  }
  &__item {
    position: relative;
    padding: 70px 20px 30px 20px;
    border-radius: 10px;
    background-color: rgb(244, 245, 250);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
    min-height: 200px;
    &:hover {
      opacity: 1;
      box-shadow: 0 0 100px 0 rgba(0,0,0,.2);
    }
  }

  &__item-title {
    //font-family: $fontTwoMedium;
    font-size: 2.8rem;
    letter-spacing: 1px;
    color: $color-white;
    //margin: 40px 0 30px 0;
  }
  /*&__item-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 20px;
    width: 60px;
    height: 60px;
    background: url(../images/bg-icon-dev.svg) no-repeat center;
    & img {
      max-width: 50px;
    }
  }*/
  &__item:hover &__item-icon {
    transform: rotate(360deg);
  }
  &__item-icon-wrap {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px;
  }
  &__item-icon {
    width: 60px;
    height: 60px;
    background: url(../images/bg-icon-dev-2.svg) no-repeat center;
    transition: all .3s ease-in-out;
  }
  &__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 25px;
  }
  &__item-price {
    font-size: 1.8rem;
  }
}