.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block
}

.slick-track::before, .slick-track::after {
  content: "";
  display: table
}

.slick-track::after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-loading .slick-list {
  background: #fff url(../images/ajax-loader.gif) center center no-repeat
}

.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 9
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25
}

.slick-prev::before, .slick-next::before {
  font: 400 40px/72px "FontAwesome";
  color: $color-primary;
  transition: .3s all ease;
  font-size: 32px;
  line-height: 1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover::before, .slick-next:hover::before {
  color: $color-secondary
}

.slick-prev {
  left: 0
}

[dir=rtl] .slick-prev {
  left: auto;
  right: 0
}

.slick-prev:before {
  content: "\f053";
}

[dir=rtl] .slick-prev:before {
  content: "\f053";
}

.slick-next {
  right: 0
}

[dir=rtl] .slick-next {
  left: 0;
  right: auto
}

.slick-next:before {
  content: "\f054";
}

[dir=rtl] .slick-next:before {
  content: "\f054";
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  font-family: fl-bigmug-line;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #4854ed;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
  color: #4854ed;
  opacity: .75
}

.slick-widget-testimonials .carousel-child {
  max-width: 570px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto
}

.slick-widget-testimonials .carousel-child .item {
  border-radius: 50%;
  cursor: pointer;
  transform: scale3d(.66, .66, .66);
  transition: .22s;
  text-align: center
}

.slick-widget-testimonials .carousel-child .slick-center {
  transform: scale3d(1, 1, 1)
}

.slick-widget-testimonials .carousel-child img {
  border-radius: inherit;
  max-width: 100%;
  margin: 0 auto
}

@media (max-width: 575.98px) {
  .slick-widget-testimonials .carousel-child .slick-prev {
    left: 30px
  }

  .slick-widget-testimonials .carousel-child .slick-next {
    right: 30px
  }
}

.slick-widget-testimonials .carousel-parent {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto
}

.slick-widget-testimonials .carousel-parent .item > * {
  transform-origin: 50% 0;
  opacity: 0;
  transition: .44s
}

.slick-widget-testimonials .carousel-parent .slick-active > * {
  opacity: 1
}

.slick-widget-testimonials > * + * {
  margin-top: 20px
}

* + .slick-widget-testimonials {
  margin-top: 30px
}

@media (min-width: 768px) {
  * + .slick-widget-testimonials {
    margin-top: 55px
  }
}
@media (min-width: 1200px) {
  * + .slick-widget-testimonials {
    margin-top: 75px
  }
}