.thanks {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 150px);
  text-align: center;
  padding: 15px 30px;
  border-radius: 60px;
  box-shadow: 8px 10px 20px rgba(0,0,0,.2);
  background-image: linear-gradient(to right, #fc1c00, #ff4a35);
  //background: $color-primary;
  color: $color-white;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }
}