$default-font-size: 2.4rem;
$color-dark: #212121;

$color-bg: #f8f8f8;
$color-primary: #3111FF;
$color-secondary: #F8006B;
$color-tertiary: #00ffb8;
$color-purple: #230872;
$color-gray: #7f7f7f;
$color-gray-light: #f2f2f2;
$color-white: #fff;
$color-cream: #d5c4aa;
$color-heading: #41516A;

$fontOneLight: 'ComfortaaLight';
$fontOneRegular: 'ComfortaaRegular';
$fontOneBold: 'ComfortaaBold';

$fontTwoLight: 'FuturaPTLight';
$fontTwoBook: 'FuturaPTBook';
$fontTwoMedium: 'FuturaPTMedium';
$fontTwoDemi: 'FuturaPTDemi';
$fontTwoBold: 'FuturaPTBold';
$fontTwoExtraBold: 'FuturaPTExtraBold';