$default-font-size: 2.4rem;
$color-dark: #212121;

$color-bg: #f6f6f6;
$color-primary: #215897;
$color-secondary: #F8D117;
$color-gray: #7f7f7f;

$fontOneLight: 'ComfortaaLight';
$fontOneRegular: 'ComfortaaRegular';
$fontOneBold: 'ComfortaaBold';

$fontTwoLight: 'FuturaPTLight';
$fontTwoBook: 'FuturaPTBook';
$fontTwoMedium: 'FuturaPTMedium';
$fontTwoDemi: 'FuturaPTDemi';
$fontTwoBold: 'FuturaPTBold';
$fontTwoExtraBold: 'FuturaPTExtraBold';