<header class="header">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-thin" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-fixed" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="0" data-xl-stick-up-offset="0" data-xxl-stick-up-offset="0" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-NaN"><span></span></button>
            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="/">
            <img src="dist/images/logo.svg" alt="ЭСДИ" class="header__logo-img"> <span class="header__logo">ЭСДИ</span><span class="header__logo--phone">ЭСДИ</span>
          </a>
            <div class="rd-navbar-block">
              <ul class="list-inline-bordered">
                <li>
                  <button class="rd-navbar-popup-toggle btn btn--top button-winona" data-rd-navbar-toggle="#rd-navbar-login-NaN">
                    <span class="mdi mdi-pencil hidden-desktop"></span>
                    <span class="header__button-call hidden-phone">Отправить заявку</span>
                  </button>
                  <div class="rd-navbar-popup" id="rd-navbar-login-NaN">
                    <div class="form-nav__wrapper">
                      <h4 class="form__heading">Начать проект</h4>
                      <form class="form form-nav" action="#" method="post" autocomplete="off">
                        <div class="form__group">
                          <input class="form__input form__input--nav" type="text" autocomplete="off" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="form__group">
                          <input class="form__input form__input--nav" type="email" autocomplete="off" name="email" placeholder="Ваше email">
                        </div>
                        <div class="form__group">
                          <input class="form__input form__input--nav form__phone" type="text" autocomplete="off" name="phone" placeholder="Ваш телефон">
                        </div>
                        <div class="form__group">
                          <div class="form__checkbox--center">
                            <input id="checkbox-form-nav" type="checkbox" name="policy" class="form__checkbox--nav js-policy-4" checked><label for="checkbox-form-nav">Соглавсие на обработку персональных данных</label>
                          </div>
                        </div>
                        <div class="form__group">
                          <button class="form__btn form__btn-4 btn btn--big button-winona" type="submit" name="submit">Отправить</button>
                        </div>
                      </form>
                      <div class="form-nav__loader-wrapper">
                        <div class="form-nav__loader-body">
                          <div class="form-nav__loader"></div>
                          <div class="form-nav__loader-text">Сообщение успешно отправлено, мы свяжемся с Вами!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a class="link-title" href="tel:+74956643815"><span class="mdi mdi-cellphone-android hidden-desktop"></span><span class="header__phone hidden-phone"> +7 (495) 664 38 15</span></a></li>
              </ul>

            </div>
          </div>
          <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-NaN">
            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="/">
            <img src="dist/images/logo.svg" height="43" alt="ЭСДИ">
          </a>
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Главная</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">ЭСДИ</a>
                <ul class="rd-menu rd-navbar-dropdown">
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="portfolio.html">Портфолио</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="reviews.html">Отзывы</a></li>
                </ul>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="development.html">Разработка</a>
                <!--<ul class="rd-menu rd-navbar-dropdown">
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="development.html">Разработка сайтов</a></li>
                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="support.html">Техническая поддержка</a></li>
                </ul>-->
              </li>

              <!--<li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                <ul class="rd-menu rd-navbar-megamenu">
                  <li class="rd-megamenu-item">
                    <ul class="rd-megamenu-list">
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Buttons</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Progress bars</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Tabs</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Accordions</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Testimonials</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Typography</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Forms</a></li>
                    </ul>
                  </li>
                  <li class="rd-megamenu-item">
                    <ul class="rd-megamenu-list">
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">404 Page</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">503 Page</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Coming Soon</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Under Construction</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Gallery</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Grid Gallery</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Modern Gallery</a></li>
                    </ul>
                  </li>
                  <li class="rd-megamenu-item">
                    <ul class="rd-megamenu-list">
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Careers</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Search results</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Features</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Single Job</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Privacy policy</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Team</a></li>
                      <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Pricing</a></li>
                    </ul>
                  </li>
                </ul>
              </li>-->
              <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>